<div class=card>
  <img class=avatar src="../../assets/img/self.jpg" alt="A picture of me" style="width:150px;height:150px;">
  <div class=info>
    <h1>Simon Wilde</h1>
    <ul>
      <li><a href="https://github.com/Tabascl">
          <img class=social src="../../assets/img/github.png" alt="Github"></a></li>
      <li><a href="https://www.linkedin.com/in/simon-wilde-813b3b153/">
          <img class=social src="../../assets/img/linkedin.png" alt="LinkedIn"></a></li>
      <li><a href="https://www.xing.com/profile/Simon_Wilde6">
          <img class=social src="../../assets/img/xing.png" alt="Xing"></a></li>
      <li><a href="mailto:simon@wildesw.com">
          <img class=social src="../../assets/img/email.png" alt="Email"></a></li>
    </ul>
  </div>
</div>
