<div>
  <p><strong>The</strong> first entry here is going to be the development of this very website.</p>

  <p>Everything started out when I was entering my working life, and wanted to have a nice personal homepage.
    I began by writing plain HTML and CSS (which sufficed for a surprisingly long time). Then I began looking into
    frameworks that would allow me to adhere to more programming principles (most of all DRY, which is impossible to do without a framework
    of some sort). After researching for a few months, a colleague recommended Angular.</p>

  <p>A special concern I had was that the framework had to function without any backend (which isn't needed on a 
    personal homepage anyway IMHO). Angular fit this criteria nicely, so now I'm happily typing away, adding more and more
    stuff to this.
  </p>

  <p>Why is the animation of the navigation bar buttons not working? After clicking on one, then hovering over another, the animation jumps straight
    to 100%. What is causing that?
  </p>
</div>