section {
    position: fixed;
    left: 50%;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
    box-shadow: 0 0 10px 0px black;
    background-image: linear-gradient(to right, #ffffff, #fbfbfb, #f6f6f6, #f2f2f2, #eeeeee);
}

.container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background-image: url("../assets/img/dom.jpg");
    background-size: cover;
}