.root {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.content {
    grid-column: 2;
    overflow: auto;
    box-shadow: 0 0 10px 0px black;
    background-image: linear-gradient(to right, #ffffff, #fbfbfb, #f6f6f6, #f2f2f2, #eeeeee);
}

.container {
    grid-column: 1;
    background-image: url("../assets/img/dom.jpg");
    background-size: cover;
    z-index: -10;
}

@media (max-width: 900px) {
    .container {
        display: none;
    }
    .content {
        grid-column: 1 / 3;
    }
}
