<!-- <app-navbar></app-navbar>
<app-card></app-card> -->
<div>
  <p>
    <strong>Hi!</strong> I'm Simon. I graduated from OTH Regensburg with a bachelor's degree in technical computer
    science
    in 2018. I'm a Software Developer employed at <a href="https://de.creadis.com/">CREADIS</a>, currently working for a
    customer in Ingolstadt.
  </p>
  <p>
    My main interests are programming, machine learning and working with computer systems as a whole. I am still looking
    for a field I want to specialize in, that's why I'm currently under a labor lease type of employment.
  </p>
  <p>
    I live in the beautiful city of Regensburg in Bavaria, Germany.
  </p>
  <p>
    I like music 🤘, movies 🎞️ and outdoor activities like snowboarding 🏂, hiking 🚶‍ or jogging 👟. I'm also
    interested in virtual reality and artificial intelligence.
  </p>
  <p>
    If you want to know more about me and the things I do, check out the buttons in the navigation bar on the top. There
    you can find
    an overview of the projects I'm working on, as well as my curriculum vitae.
  </p>
</div>